<!DOCTYPE html>
<html  
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/fav/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="256x256" href="/fav/favicon-256x256.png"/>

    </head>
    <body>
        <header th:fragment="header">
            Esto es el encabezado
        </header>    
        
        <footer th:fragment="footer">
            <p>&COPY; [[#{plantilla.derechos}]]</p>
        </footer>     
        
    </body>
</html>
