<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>XpressBox</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/static/css/estilos.css}"/>
    </head>
    
    <body style="background-image: url('/static/fav/imagen_avion.jpeg'); background-size: cover; background-position: center; background-attachment: fixed; height: 100vh;">
        <header th:replace="~{layout/plantilla :: header}"/>
        <footer th:replace="~{layout/plantilla :: footer}"/>    
    </body>
</html>
